.item {
  width: 500px;
  color: #353935;
  font-size: larger;
  margin: 0 auto;
}

.itemName {
  font-weight: bolder;
  padding: 10px;
}

.line {
  border: 1px solid #f4f4f4;
}
.deleteButton {
  float: right;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  background-color: #f7ca18;
  color: white;
  margin-top: -11px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
