.todoform {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.modernInput {
  width: 100%;
  border: none;
  display: block;
  color: black;
  font-size: 25px;
}

.modernInput:focus {
  outline: none;
}

.modernButton {
  display: inline-block;
  border: none;
  border-radius: 6px;
  background-color: #f7ca18;
  padding: 12px 20px;
  color: #ffffff;
  cursor: pointer;
}

.inputContainer {
  display: flex;
}
